* {
  margin: 0;
  padding: 0;
}

/* Bubble */
.dot {
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
}

.dot p {
  color: #79acdb;
}

#menu {
  width: 25%;
}

#main {
  width: 25%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  animation: breathe 8s ease infinite;
}

#meditation {
  width: 30%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  animation: breathe 8s ease infinite;
}

@keyframes breathe {
  0%{
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  65% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }

}


/* GENERAL */

.menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%;
}

.nav_home {
  text-align: center;
  padding-bottom: 300%;
}

.nav_home p {
  font-size: 9px;
  font-style: italic;
  color: #79acdb;
}

.title {
  margin-bottom: -29%;
  margin-top: -5%;
}

#main_page {
   margin-bottom: -23%;
}

img[src*="bubble"] {
  width: 100%;
  height: auto;
}

.Page {
  padding: 1%;
  text-align: center;
  background: #d1f0ff;
}

.PageName #background{
  padding: 1%;
}

path {
  fill: transparent;
}

.blurb {
  text-align: justify;
  margin: 1%;
}

.blurb_container {
  background: #9be3ff;
  border-radius: 40px;
}

#homepage_blurb {
  margin: 6%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;
}

#background{
  background: #d1f0ff;
}

/* SPOTIFY */

.spotify {
  text-align: right;
  height: 100%;
}

.spotify_div {
  height: 90px;
  overflow: hidden;
}

#meditation_blurb {
  font-size: 13px;
}

#meditation_container {
  margin: 0%;
  margin-top: 0%;
  padding: 1.7%;
  margin-left: 4%;
  max-width: 32%;
}

.meditation_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  padding-top: 2%;
}

/* FONT */
.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
}

/* TEXT */

h1 {
  font-size: 73px;
  font-family: "Matemasie", "Nunito", Times New Roman;
  font-weight: 400;
  color: #79acdb;
}

h3 {
  font-size: 15px;
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  color: white;
}

p {
  font-size: 13px;
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  color: white;
}

.index_text {
  font-size: 35px;
  font-family: "Matemasie", "Nunito", Sans-Serif;
  font-weight: 400;
  font-style: normal;
  fill: #79acdb;
  letter-spacing: 4px;
}

.bubble_text {
  font-size: 30px;
  font-family: "Matemasie", "Nunito", Sans-Serif;
  font-weight: 400;
  font-style: normal;
  fill: #79acdb;
  letter-spacing: 4px;
  animation: FadeAway 17s ease;
  opacity: 0;
}

/* Style Nav bar */

ul {
  width: auto;
  height: auto;
  list-style-type: none;
  text-align: right;
  background-color: #9be3ff;
  padding: 10px;
  margin: 0;
}

li {
  display: inline;
}

li a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* ANIMATIONS */

@keyframes FadeAway {

  0%,
  60% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

/* CLOUDS */

.cloud {
  position: relative;
  height: 500px;
}

.clouds1 img {
  animation: slideLtoR1 57s linear 28 infinite;
  position: absolute;
  z-index: -1;
  width: 15%;
  opacity: 0;
}

.clouds2 img {
  animation: slideLtoR3 40s linear 1s infinite;
  position: absolute;
  z-index: -1;
  width: 15%;
  opacity: 0;
}

.clouds3 img {
  animation: slideLtoR2 48s linear 23s infinite;
  z-index: -1;
  position: absolute;
  width: 15%;
  opacity: 0;
}

.clouds4 img {
  animation: slideLtoR2 45s linear 7s infinite;
  z-index: -1;
  positionLabsolutte;
  width: 15%;
  opacity: 0;
}

@keyframes slideLtoR1 {
  from {
    transform: translate(-100%, -400%);
    opacity: .6;
  }

  to {
    transform: translate(100vw, -400%);
    opacity: .6;
  }
}

@keyframes slideLtoR2 {
  from {
    transform: translate(-100%, -300%);
    opacity: .6;
  }

  to {
    transform: translate(100vw, -300%);
    opacity: .6;
  }
}

@keyframes slideLtoR3 {
  from {
    transform: translate(-100%, -250%);
    opacity: .6;
  }

  to {
    transform: translate(100vw, -250%);
    opacity: .6;
  }
}

