* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.cloud {
  position: relative;
  z-index: 1;
  width: 15%;
  height: 200px;
}


.clouds1 img {
  animation: slideLtoR1 32s linear 8s infinite;
  position: absolute;
  width: 15%;
}

.clouds2 img {
  animation: slideLtoR3 34s linear 1s infinite;
  position: absolute;
  width: 15%;
}

.clouds3 img {
  animation: slideLtoR3 48s linear 6s infinite;
  transform: translateY(-400%);
  position: absolute;
  width: 15%;
}

.dot {
  height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: breathe 8s ease infinite;
}

#main {
  width: 25%;
}

#meditation {
  width: 30%;
}

.title {
  margin-bottom: -27%;
  margin-top: -5%;
}


img[src*="bubble"] {
  width: 100%;
  height: auto;
}

.Page {
  padding: 1%;
  text-align: center;
  background: #d1f0ff;
}

.PageName #background{
  padding: 1%;
}

path {
  fill: transparent;
}

.index_text {
  font-size: 35px;
  font-family: "Matemasie", "Nunito", Sans-Serif;
  font-weight: 400;
  font-style: normal;
  fill: #79acdb;
  letter-spacing: 4px;
}

.bubble_text {
  font-size: 30px;
  font-family: "Matemasie", "Nunito", Sans-Serif;
  font-weight: 400;
  font-style: normal;
  fill: #79acdb;
  letter-spacing: 4px;
  animation: FadeAway 17s ease;
  opacity: 0;
}

.blurb {
  text-align: justify;
  margin: 1%;

}

.blurb_container {
  background: #9be3ff;
  border-radius: 40px;
  margin: 6%;
  padding: 3%;
}

#background{
  background: #d1f0ff;
}

.spotify {
  padding: 1%;
  text-align: right;
}

/* FONT */
.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
}

.nunito-<uniquifier> {
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
}


/* TEXT */

h1 {
  font-size: 73px;
  font-family: "Matemasie", "Nunito", Times New Roman;
  font-weight: 400;
  color: #79acdb;
}

h3 {
  font-size: 15px;
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  color: white;
}

p {
  font-size: 13px;
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  color: white;
}

/* Style Nav bar */

ul {
  width: auto;
  height: auto;
  list-style-type: none;
  text-align: right;
  background-color: #9be3ff;
  padding: 10px;
  margin: 0;
}

li {
  display: inline;
}

li a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* ANIMATIONS */
@keyframes breathe {
  0%{
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  65% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
  
}

@keyframes FadeAway {

  0%,
  60% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes slideLtoR1 {
  from {
    transform: translate(-100%, -400%);
  }

  to {
    transform: translate(100vw, -400%);
  }
}

@keyframes slideLtoR2 {
  from {
    transform: translate(-100%, -300%);
  }

  to {
    transform: translate(100vw, -300%);
  }
}

@keyframes slideLtoR3 {
  from {
    transform: translate(-100%, -500%);
  }

  to {
    transform: translate(100vw, -500%);
  }
}

