* {
  margin: 0;
  padding: 0;
}

.dot {
  width: 70%;
  height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: breathe 8s ease infinite alternate;

}

.title {
  pad-top: 4%;
  margin-bottom: -140px;
}

img[src*="bubble"] {
  width: 100%;
  height: auto;
}

.Page {
  padding: 2%;
  text-align: center;
  background: #d1f0ff;
}

.PageName {
  padding: 1%;
}

path {
  fill: transparent;
}

text {
  font-size: 73px;
  font-family: "Matemasie", "Nunito", Times New Roman;
  font-weight: 400;
  font-style: normal;
  fill: #79acdb;
  letter-spacing: 4px;
}



/* FONT */
.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-<uniquifier> {
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* TEXT */

h1 {
  font-size: 73px;
  font-family: "Matemasie", "Nunito", Times New Roman;
  font-weight: 400;
  font-style: normal;
  color: #79acdb;
}

p {
  font-size: 15px;
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: black;
}

/* Style Nav bar */

ul {
  width: auto;
  height: auto;
  list-style-type: none;
  text-align: right;
  background-color: #9be3ff;
  padding: 10px;
  margin: 0;
}

li {
  display: inline;
}

li a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* ANIMATIONS */
@keyframes breathe {
  0%{
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  65% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
  
}

